@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  background-color: #73A6AD;
  width: 100vw;
  height: 100vh;
  font-family: 'Red Hat Display', sans-serif;
}

.navbar {
  background-color: #9B97B2;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  display: inline-block;
  font-size: 2rem;
  cursor: pointer;
}

.navbar ul {
  float: right;
}

.navbar ul li {
  float: left;
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: 1.5PX;
  cursor: pointer;
  transition: 0.3s color ease-in;
}

.navbar ul li:hover {
  color: rgba(255, 255, 255, 0.781);
}

.navbar ul li:not(:last-child) {
  margin-right: 2REM;
}

.navbar ul li:last-child {
  margin-right: 3rem;
}
